

  body.headerdiv{
    background-color:azure;
    
  }

  body.headerdiv a:link{
    text-decoration: none;
    color: black;
  }
  body.headerdiv a:visited {
    text-decoration: none;
    color: black;
  }
  body.headerdiv a:hover {
    text-decoration: none;
    color: black;
  }
  body.headerdiv a:active {
    text-decoration: none;
    color: black;
  }
