
.Profile:hover {
    background-color:floralwhite !important;
}
.Profile.ezcol-one-half {
    width: 48% !important;
}
.Profile.ezcol-one-quarter, .ezcol-one-half, .ezcol-three-quarter, .ezcol-one-third, .ezcol-two-third, .ezcol-one-fifth, .ezcol-two-fifth, .ezcol-three-fifth, .ezcol-four-fifth {
    float: left !important;
    margin-right: 4% !important;
    position: relative !important;
    word-wrap: break-word !important;
    hyphens: auto !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    text-rendering: optimizedLegibility !important;
}
.Profile.ezcol-last {
    float: right !important;
    clear: right !important;
    margin-right: 0 !important;
}
.Profile.ezcol-divider {
    clear: both !important;
    display: block !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    width: 100% !important;
    background: none !important;
}